<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>
    <body>
        <header>

        </header>


        <main>
            <h1>Login and Registration</h1>
            <div class="registration">
                <h2>Register Here!</h2>
                <form action="/registration" method="POST">
                    {% with messages = get_flashed_messages(category_filter=["vsuccess"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="success">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with messages = get_flashed_messages(category_filter=["vfname"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>First Name:</p> <p><input type="text" name="fname"></p>
                    {% with messages = get_flashed_messages(category_filter=["vlname"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>Last Name:</p> <p> <input type="text" name="lname"></p>
                    {% with messages = get_flashed_messages(category_filter=["vemail"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>Email:</p> <p> <input type="text" name="email"></p>
                    {% with messages = get_flashed_messages(category_filter=["vpass"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>Password:</p> <p> <input type="password" name="password"></p>
                    {% with messages = get_flashed_messages(category_filter=["vmatch"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>Confirm Password:</p> <p> <input type="password" name="cpassword"></p>
                    <input type="submit" value="Create">
                </form>
            </div>
            <div class="login">
                <h2>Login Here!</h2>
                <form action="/login" method="POST">
                    {% with messages = get_flashed_messages(category_filter=["login"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>Email:</p> <p> <input type="text" name="email"></p>
                    {% with messages = get_flashed_messages(category_filter=["vpass"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <p>Password:</p> <p> <input type="text" name="password"></p>
                    <input type="submit" value="Sign In">
                </form>
            </div>

        </main>


        <footer>

        </footer>

    </body>
</html>
